<!DOCTYPE html>
<html>
<title>基金公司持仓</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/w3.css">
<link rel="stylesheet" href="/static/css/w3-colors-metro.css">
<link rel="stylesheet" href="/static/css/w3-colors-safety.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">

<head>
  <script src="/static/js/fund_co_pos.js"></script>
  <script>
    // 首次加载的基金公司
    window.onload = () => {
      openFundHouse(null, "{{house_id}}");
      document.getElementById("{{house_id}}").className += " w3-safety-blue";
    }
  </script>
  <style>
    .my-sidebar-item {
      font-size: 12px;
    }

    .column-sort-icon {
      display: inline-block;
      padding-left: 2px;
    }

    th {
      font-size: 13px;
    }

  </style>
</head>

<body>
  <div class="w3-sidebar w3-bar-block w3-card w3-metro-darken" style="width:160px">
    <h5 class="w3-bar-item w3-border-bottom w3-border-gray" style="margin-bottom:0; margin-top:5px">基金公司</h5>
    {% for house in house_list %}
    <button class="w3-bar-item w3-button tablink my-sidebar-item w3-hover-2021-illuminating"
            id="{{house['_id']}}"
            onclick="openFundHouse(event, '{{house['_id']}}')">{{house['co_name']}}</button>
    {% endfor %}
  </div>

  <div style="margin-left:160px">

    <table class="w3-table w3-striped w3-hoverable w3-tiny">
      <thead>
        <tr class="w3-border-bottom">
          <th width="185">股票</th>
          <th width="120" id="float_percent" onclick="sortColumn(event, 'float_percent')">
            流通比(%)
            <i class="column-sort-icon fa fa-angle-up" style="display: none;"></i>
            <i class="column-sort-icon fa fa-angle-down" style="display: none;"></i>
          </th>
          <th width="120" id="net_percent" onclick="sortColumn(event, 'net_percent')">
            净值比(%)
            <i class="column-sort-icon fa fa-angle-up" style="display: none;"></i>
            <i class="column-sort-icon fa fa-angle-down" style="display: none;"></i>
          </th>
          <th width="100" id="fund_count" onclick="sortColumn(event, 'fund_count')">
            持仓家数
            <i class="column-sort-icon fa fa-angle-up" style="display: none;"></i>
            <i class="column-sort-icon fa fa-angle-down" style="display: none;"></i>
          </th>
          <th id="position_change" onclick="sortColumn(event, 'position_change')">
            持仓变动
            <i class="column-sort-icon fa fa-angle-up" style="display: none;"></i>
            <i class="column-sort-icon fa fa-angle-down" style="display: none;"></i>
          </th>
        </tr>
      </thead>
      <tbody id="table_data">
      </tbody>
    </table>

  </div>

</body>
</html>
