<!DOCTYPE html>
<html>
<title>股票基金持仓 - {{stock_name}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-metro.css">

<head>
  <script></script>
  <style>
    .strikethrough {
      background: repeating-linear-gradient(180deg, #34568B 0%, #34568B 100%);
      background-size: 100% 1px;
      background-position: center;
      background-repeat: no-repeat;
    }

    .dark-content-text {
      color: #bbb;
    }

  </style>
</head>

<body>

  <div>

    <div class="w3-container w3-metro-darken">
      <h2>{{stock_name}}
        <span class="dark-content-text" style="display: inline-block; margin-left: 8px; font-size:18px">{{stock_code}}</span>
      </h2>
      <p class="dark-content-text" >{{report_date}} 基金持仓</p>
    </div>

    <table class="w3-table w3-tiny">
      <thead>
        <tr style="font-size:small; color:#555555;">
          <th width="70"></th>
          <th width="190"></th>
          <th width="110">规模(亿)</th>
          <th width="140">持股数(万)</th>
          <th width="140">流通比(%)</th>
          <th width="110">净值比(%)</th>
          <th class="w3-right-align" style="padding-right: 13px;">变动</th>
        </tr>
      </thead>
      <tbody>
        {% for co in company_list %}
        <tr class="w3-leftbar w3-border-metro-darken w3-light-gray" style="font-weight: bold">
          {% if co["logo"] %}
          <td colspan="2" style="padding: 4px 8px 4px 8px" colspan="5"><img src="/static/img/{{co['logo']}}" height="28px"></img></td>
          {% else %}
          <td colspan="2" style="font-size:15px; padding: 4px 8px 4px 8px; line-height: 28px;">{{co["name"]}}</td>
          {% endif %}
          <td>{{ co["summary"]["fund_size"]|safe }}</td>
          <td>{{ co["summary"]["volume"]|safe }}</td>
          <td>{{ co["summary"]["volume_in_float"]|safe }}</td>
          <td>{{ co["summary"]["percent"]|safe }}</td>
          <td></td>
        </tr>
          {% for fund in co["funds"] %}
          <tr class="">
            <td {% if fund['change_type'] == '退出' %} class="strikethrough" {% endif %}>{{ fund["code"]|safe }}</td>
            <td {% if fund['change_type'] == '退出' %} class="strikethrough" {% endif %}>{{ fund["name"]|safe }}</td>
            <td {% if fund['change_type'] == '退出' %} class="strikethrough" {% endif %}>{{ fund["fund_size"]|safe }}</td>
            <td {% if fund['change_type'] == '退出' %} class="strikethrough" {% endif %}>{{ fund["volume"]|safe }}</td>
            <td {% if fund['change_type'] == '退出' %} class="strikethrough" {% endif %}>{{ fund["volume_in_float"]|safe }}</td>
            <td {% if fund['change_type'] == '退出' %} class="strikethrough" {% endif %}>{{ fund["percent"]|safe }}</td>
            <td style="padding-right: 13px;" class="w3-right-align"><span style="{{change_type_styles[fund['change_type']]}}">{{fund['change_type']}}</span></td>
          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>

  </div>

</body>

</html>
